* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ffff;
}

.navbar{
  background: #fff !important;
  opacity: 95%;
  -webkit-box-shadow: 0px 1px 15px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 15px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 15px -2px rgba(0, 0, 0, 0.15);
}

.col{
  padding: 30px;
}

.row{
  padding-bottom: 30px;
}

.card{
  min-width: 300px;
  padding: 0px;
}
.card.f{
  max-width: 510px;
}

.calc-body { 
  width:max-content;
  margin: auto;
  min-height: 400px;
  margin: auto;
}

.calc-screen {
  background: #3A4655;
  width: 100%;
  height: 150px;
  padding: 20px;
}

.calc-operation {
  color: #727B86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.calc-typed {
  text-align: left ;
  font-size: 45px;
  color: #fff;
  padding-top: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.calc-button-row {
  width: 100%;
  background: #3C4857;
}

.button {
  height: 20%;
  width: 25%;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3C4857;
  border-bottom: solid 2px #3C4857;
  transition: all 0.2s ease-in-out;
}

.button.o {
  color: #5389d0;
  background: #404D5E;
}
.button.e {
  color: #404D5E;
  background: #5389d0;
}
.button.c {
  width: 50%;
  color: #5389d0;
  background: #404D5E;
}
.button.er {
  /*height: 73px;*/
  color: #5389d0;
  background: #404D5E;
}

.button:hover {
  background: #7b9dca;
}

.button.o:hover,
.button.e:hover,
.button.c:hover {
  background: #7b9dca;
  color: #404D5E;
}

/* CSS for star rating */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  font-size: 25px;
  color: #ccc;
}

.rating label::before {
  content: "\2605";
  padding: 5px;
}

.rating input:checked ~ label {
  color: #f39c12;
}